@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

*
{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    display: none;
}

nav
{
    background-image: url(background.jpg);
    background-size: cover;
}

ul.nav
{
    display: flex;
    justify-content: center;
    gap: 20px;
}

li.menu-item
{
    list-style-type: none;
    padding: 10px 10px;
}

li.menu-item>a
{
    color: white;
}

a
{
    text-decoration: none;
}

.hero
{
    color: white;
    text-align: center;
    padding: 30px 40px;
}

.btn-group
{
    margin-top: 20px;
}

.btn
{
    transition: all linear 0.2s;
    background-color: white;
    padding: 5px 10px;
    border-radius: 15px;
    max-width: 190px;
    margin: 7px auto;
}
.btn>a
{
    color:white;
}

.btn:hover
{
    transform: scale(1.1);
}

.buy-now
{
    background-color: orange;
}

.buy-now:hover
{
    box-shadow: 14px 8px 26px -9px rgba(255,166,0,1);
}

.learn-more
{
    background-color: rgb(53, 101, 101);
}

.learn-more:hover
{
    box-shadow: 14px 8px 26px -9px rgba(53, 101, 101);
}

.burger
{
    display: none;
    text-align: right;
}

.burger>a
{
    color: white;
    font-size: 24px;
    margin: 5px;
}

@media (max-width: 600px)
{
    ul.nav
    {
        display: none;
    }
    .burger
    {
        display: block;
    }
}